/*SELECTION*/

::selection { color: #ffffff; background-color: #00008B; }

/*SCROLL BAR*/

::-webkit-scrollbar-button { background-image: url(); background-repeat: no-repeat; width: 6px; height: 0px; }

::-o-scrollbar-button { background-image: url(); background-repeat: no-repeat; width: 6px; height: 0px; }

::-moz-scrollbar-button { background-image: url(); background-repeat: no-repeat; width: 6px; height: 0px; }

::-ms-scrollbar-button { background-image: url(); background-repeat: no-repeat; width: 6px; height: 0px; }

/*----------------------------------------*/
 
::-webkit-scrollbar-track { background-color: #ffffff; box-shadow: 0px 0px 2px #0d1110 inset; }

::-o-scrollbar-track { background-color: #ffffff; box-shadow: 0px 0px 2px #0d1110 inset; }

::-moz-scrollbar-track { background-color: #ffffff; box-shadow: 0px 0px 2px #0d1110 inset; }

::-ms-scrollbar-track { background-color: #ffffff; box-shadow: 0px 0px 2px #0d1110 inset; }

/*----------------------------------------*/
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #0000FF;
    box-shadow: 0px 1px 1px #0000FF inset;
}

::-o-scrollbar-thumb {
    -o-border-radius: 0;
    border-radius: 0;
    background-color: #0000FF;
    box-shadow: 0px 1px 1px #0000FF inset;
}

::-moz-scrollbar-thumb {
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #0000FF;
    box-shadow: 0px 1px 1px #0000FF inset;
}

::-ms-scrollbar-thumb {
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: #0000FF;
    box-shadow: 0px 1px 1px #0000FF inset;
}

/*----------------------------------------*/
 
::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 5px;
    border-radius: 0;
    background-color: #00008B;
    box-shadow: 0px 1px 1px #00008B inset;
}

::-o-scrollbar-thumb:hover {
    -o-border-radius: 5px;
    border-radius: 0;
    background-color: #00008B;
    box-shadow: 0px 1px 1px #00008B inset;
}

::-moz-scrollbar-thumb:hover {
    -moz-border-radius: 5px;
    border-radius: 0;
    background-color: #00008B;
    box-shadow: 0px 1px 1px #00008B inset;
}

::-ms-scrollbar-thumb:hover {
    -ms-border-radius: 5px;
    border-radius: 0;
    background-color: #00008B;
    box-shadow: 0px 1px 1px #00008B inset;
}

/*----------------------------------------*/
 
::-webkit-resizer { background-image: url(); background-repeat: no-repeat; width: 7px; height: 0px; }

::-o-resizer { background-image: url(); background-repeat: no-repeat; width: 7px; height: 0px; }

::-moz-resizer { background-image: url(); background-repeat: no-repeat; width: 7px; height: 0px; }

::-ms-resizer { background-image: url(); background-repeat: no-repeat; width: 7px; height: 0px; }

/*----------------------------------------*/
 
::-webkit-scrollbar { width: 9px; }

::-o-scrollbar { width: 9px; }

::-moz-scrollbar { width: 9px; }

::-ms-scrollbar { width: 9px; }