<div id="addSubcategory" class="tabcontent tabcontent-action">
    <form class="add-subject-form">
      <select  [(ngModel)]="SelectedCategory" class="subject-selector" name="categories" id="categories">
        <option  *ngFor="let data of allCategories" (click)="onOptionSelect(data.id)" class="subject-variables">{{data.id}}</option>
      </select>
    </form>

    

    <form class="add-subject-form">
      <input [(ngModel)]="model.name" name="first" class="add-subject-area" type="text" placeholder="Назва підкатегорії:">
    </form>
    <button (click)="OnSubmit()" class="btn btn-primary add-subject-btn">Додати</button>
  </div>