<div class="row top-row">

  <div class="inner-block">
    <h2 class="help">Чим ми можемо допомогти?</h2>

    <form class="search-form" action="" method="get">
      <input class="search-area" name="question" placeholder="Ваше питання:" type="search">
      <button class="btn-search" type="submit"></button>
    </form>
  </div>

</div>

<div class="container">

  <div class="row">

    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h5 class="theme-of-question">Замовлення</h5>

      <a [routerLink]="['order-first']" class="question-link">
        <h6 class="question">Я зробив(-ла) замовлення. Що далі?</h6>
      </a>
      <a [routerLink]="['order-second']" class="question-link">
        <h6 class="question">Як дізнатися, чи замовлення вже можна забирати?</h6>
      </a>
      <a [routerLink]="['order-third']" class="question-link">
        <h6 class="question">Як скасувати замовлення?</h6>
      </a>
    </div>

    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h5 class="theme-of-question">Товар</h5>

      <a [routerLink]="['product-first']" class="question-link">
        <h6 class="question">Як дізнатися розмір товару?</h6>
      </a>
      <a [routerLink]="['product-second']" class="question-link">
        <h6 class="question">Як дізнатися, чи товар є в наявності?</h6>
      </a>
    </div>

    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h5 class="theme-of-question">Доставка</h5>

      <a href="" class="question-link">
        <h6 class="question">Як правильно замовити і отримати товар?</h6>
      </a>
      <a href="" class="question-link">
        <h6 class="question">Коли і де можна забрати замовлення?</h6>
      </a>
      <a href="" class="question-link">
        <h6 class="question">Хочу зробити замовлення. Коли його зможуть доставити?</h6>
      </a>
    </div>

    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h5 class="theme-of-question">Оплата</h5>

      <a href="" class="question-link">
        <h6 class="question">Як можна отримати промокод?</h6>
      </a>
      <a href="" class="question-link">
        <h6 class="question">Як використовувати промокод?</h6>
      </a>
      <a href="" class="question-link">
        <h6 class="question">Як оплатити замовлення безготівковим розрахунком?</h6>
      </a>
      <a href="" class="question-link">
        <h6 class="question">Як оплатити замовлення карткою?</h6>
      </a>
    </div>

    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h5 class="theme-of-question">Особистий кабінет</h5>

      <a href="" class="question-link">
        <h6 class="question">Як змінити електронну адресу в аккаунті?</h6>
      </a>
      <a href="" class="question-link">
        <h6 class="question">Як видалити аккаунт?</h6>
      </a>
    </div>

    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h5 class="theme-of-question">Гарантія і повернення товару</h5>

      <a href="" class="question-link">
        <h6 class="question">Які товари не підлягають обміну і поверненню?</h6>
      </a>
      <a href="" class="question-link">
        <h6 class="question">Як повернути товар у моєму місті?</h6>
      </a>
    </div>

  </div>

</div>
