<div class="container">

  <div class="row">

    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="row">
        <div class="choose">
          <button class="choose-link" onclick="ChoosePage(event, 'AboutUF')" id="defaultOpenPage">Про нас</button>
          <button class="choose-link" onclick="ChoosePage(event, 'WorkInUF')">Робота у нас</button>
          <button class="choose-link" onclick="ChoosePage(event, 'Administration')">Адміністрація</button>
          <button class="choose-link" onclick="ChoosePage(event, 'GuarOfProducts')">Легальність</button>
        </div>
      </div>

      <div class="row">
        <div id="AboutUF" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 about-us-subpage">

        </div>

        <div id="WorkInUF" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 about-us-subpage">
          <h4 class="title"><span class="title-element">Вакансії</span></h4>

          <div class="container">
            <div class="row">
              <div class="container internal-container">
                <div class="row">
                  <div class="col col-lg-4 col-md-4 col-sm 6 col-xs-6">
                    <h5 class="peudo-title"></h5>

                    <ol type="1" class="simple-menu">
                      <li class="simple-menu__item"></li>
                    </ol>
                  </div>

                  <div class="col col-lg-4 col-md-4 col-sm 6 col-xs-6">
                    <h5 class="peudo-title"></h5>

                    <ol type="1" class="simple-menu">
                      <li class="simple-menu__item"></li>
                    </ol>
                  </div>

                  <div class="col col-lg-4 col-md-4 col-sm 6 col-xs-6">
                    <h5 class="peudo-title"></h5>

                    <ol type="1" class="simple-menu">
                      <li class="simple-menu__item"></li>
                    </ol>
                  </div>

                  <div class="col col-lg-4 col-md-4 col-sm 6 col-xs-6">
                    <h5 class="peudo-title"></h5>

                    <ol type="1" class="simple-menu">
                      <li class="simple-menu__item"></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="Administration" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 about-us-subpage">
          <h4 class="title"><span class="title-element">Контактна інформація</span></h4>

          <div class="container internal-container">
            <div class="row">
              <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h5 class="pseudo-title">Продавцям</h5>

                <p class="free-text free-text-sm">Якщо ви бажаєте продавати товари/послуги, створити власний продукт чи стати
                  працівником Undead Family.company – телефонуйте за номером <span class="other-page-link"><br>+380 (98) 963 62 24</span><br>Робочий
                  час:<br>Пн — Пт: c 9:00 до 18:00<br>Сб - Нд: вихідний</p>
              </div>

              <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h5 class="pseudo-title">Покупцям</h5>

                <p class="free-text free-text-sm">На Undead Family.clothes товари та послуги продає саме наша компанія. Купуючи
                  товар, ви замовляєте його безпосередньо у нас.</p>
                <p class="free-text free-text-sm">Зв'язатися з компанією можна за контактною інформацією, вказаною на сторінці товару
                  на Undead Family.clothes та на сайті компанії.</p>
              </div>
            </div>

            <div class="row">
              <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h5 class="pseudo-title">Пресі</h5>
                <p class="free-text free-text-sm">Якщо ви хочете отримати офіційний коментар, провести інтерв'ю з ТОП-менеджерами та
                  засновниками компанії, запросити наших спікерів на конференцію, запропонувати інформаційне партнерство
                  або співпрацю - відправляйте запит на email: <span class="other-page-link">ufcompany@gmail.com</span>
                  <br>Або дзвоніть за телефоном <span class="other-page-link">+380 (98) 963 62 24</span>
                </p>
              </div>

              <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h5 class="pseudo-title">Держструктурам</h5>
                <p class="free-text free-text-sm">Якщо у вас виникли питання щодо певної діяльності нашої компанії – Ви можете
                  звернутися до нас по email: <span class="other-page-link">ufsupport@gmail.com</span></p>
              </div>

              <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h5 class="pseudo-title">Шукачам</h5>
                <p class="free-text free-text-sm">Перелік актуальних вакансій компанії ви можете знайти за <a
                    class="other-page-link">посиланням</a>.</p>
                <p class="free-text free-text-sm">Якщо Ви не знайшли підходящу вакансію, можете відправити резюме на<br> Email: <span
                    class="other-page-link">ufcompany@gmail.com</span><br> Viber: <span class="other-page-link">
                      +380 (98) 963 62 24</span></p>
              </div>
            </div>
          </div>
        </div>

        <div id="GuarOfProducts" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 about-us-subpage">

          <h4 class="title"><span class="title-element">Захист легальності контенту</span></h4>
          <p class="subtitle">Мета команди Undead Family – створити безпечний простір для продажу і покупки товарів та
            послуг. Наші принципи - легальність, чесність та взаємоповага. Для цього ми:</p>

          <div class="container internal-container">
            <div class="row">
              <div class="proofs-block">
                <p class="proofs-text">Розглядаємо скарги щодо порушення прав інтелектуальної власності.</p>
              </div>

              <div class="proofs-block">
                <p class="proofs-text">Видаляємо заборонений контент за стоп-словами.</p>
              </div>

              <div class="proofs-block">
                <p class="proofs-text">Розглядаємо скарги щодо порушення Правил розміщення інформації.</p>
              </div>
            </div>
          </div>

          <p class="free-text">Наша система прозора: ми спрямовуємо всі отримані матеріали продавцеві, на якого надійшла
            скарга, повідомляємо про вжиті заходи ініціатору скарги. При цьому продавець може оскаржити скаргу та надати
            підтверджуючі документи.</p>

          <h5 class="pseudo-title">Скарги</h5>
          <p class="free-text"><b>Порушення інтелектуальних прав</b> – це використання об'єктів авторського права без
            згоди правовласника або з порушенням умов договору. Найчастіше надходять скарги про незаконне використання
            торговельних марок та зображень.</p>
          <p class="free-text"><b>Заборонений контент</b> – це товари або послуги, які не можна публікувати на
            маркетплейсі згідно <a class="other-page-link">Правилам розміщення інформації</a> на UNDEAD FAMILY.clothes.
          </p>
          <p class="free-text">Якщо у вас є питання або ви хочете оскаржити звернення, напишіть нам на
            ufclothes@gmail.com
            (порушення прав інтелектуальної власності та заборонений контент).</p>

        </div>
      </div>

    </div>

  </div>

</div>