.row { margin-top: 1% !important; }

.choose { display: block; margin: 0 auto; width: 90%; overflow: hidden; }

.choose-link {
  float: left;
  padding: 10px 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #f0f0f1;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #b4b4b4;
  font-size: 14px;
  width: 20%;
  transition: 0.6s;
  margin: 0 2%;
}

.choose-link:hover { border-bottom: 1px solid tomato; transition: all .6s; }

.choose-link.active { border-bottom: 1px solid tomato; }

.choose-link.active:hover { border-bottom: 1px solid tomato; }

.about-us-subpage { display: none; }

.about-us-subpage {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
