<div class="container">

  <div class="row">

    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="row">
        <div class="choose">
          <button class="choose-link" onclick="ChoosePage(event, 'AboutUF')" id="defaultOpenPage">Про нас</button>
          <button class="choose-link" onclick="ChoosePage(event, 'WorkInUF')">Робота у нас</button>
          <button class="choose-link" onclick="ChoosePage(event, 'Administration')">Адміністрація</button>
          <button class="choose-link" onclick="ChoosePage(event, 'GuarOfProducts')">Захист легальності</button>
        </div>
      </div>

      <div class="row">
        <div id="AboutUF" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 about-us-subpage">
          
        </div>

        <div id="WorkInUF" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 about-us-subpage">

        </div>

        <div id="Administration" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 about-us-subpage">

        </div>

        <div id="GuarOfProducts" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 about-us-subpage">

        </div>
      </div>

    </div>

  </div>

</div>
