<div class="container">

  <h3 class="title-page"><span class="personal-room-span">Особистий кабінет</span></h3>

  <div class="row">

    <!--IMAGE-->
    <div class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <img src="../../../../assets/images/Avatars/empty avatar.jpg" alt="" class="user-image">
    </div>

    <!--DATA OF USER-->
    <div class="col col-lg-7 col-md-7 col-sm-12 col-xs-12">

      <!--OSNOVNE-->
      <div>
        <h4 class="subtitle-of-page">Основне</h4>

        <div class="form-group">
          <p for="" class="data-label">Ім'я:
            <span class="data-of-user">Джон Уік</span>
          </p>
        </div>

        <div class="form-group">
          <p for="" class="data-label">Вік:
            <span class="data-of-user">40</span>
          </p>
        </div>

      </div>

      <!--LIVING-->
      <div>
        <h4 class="subtitle-of-page">Проживання</h4>

        <div class="form-group">
          <p for="" class="data-label">Країна:
            <span class="data-of-user">Україна</span>
          </p>
        </div>

        <div class="form-group">
          <p for="" class="data-label">Місто:
            <span class="data-of-user">Рівне</span>
          </p>
        </div>

        <div class="form-group">
          <p for="" class="data-label">Область:
            <span class="data-of-user">Рівненська обл.</span>
          </p>
        </div>

        <div class="form-group">
          <p for="" class="data-label">Вулиця:
            <span class="data-of-user">Богоявленська</span>
          </p>
        </div>

        <div class="form-group">
          <p for="" class="data-label">Будинок:
            <span class="data-of-user">14</span>
          </p>
        </div>

        <div class="form-group">
          <p for="" class="data-label">Квартира:
            <span class="data-of-user">44</span>
          </p>
        </div>

      </div>

      <!--CONTACTS-->
      <div>

        <h4 class="subtitle-of-page">Контактні данні</h4>

        <div class="form-group">
          <p for="" class="data-label">Телефон:
            <span class="data-of-user">0987654321</span>
          </p>
        </div>

        <div class="form-group">
          <p for="" class="data-label">Email:
            <span class="data-of-user">example@gmail.com</span>
          </p>
        </div>

      </div>

    </div>

    <!--ACTIONS-->
    <div class="col col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <div class="form-group">
        <a href="" class="action-link">Редагувати профіль</a>
      </div>

      <div class="form-group">
        <a href="" class="action-link">Видалити профіль</a>
      </div>
    </div>

  </div>

</div>
